body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
